<ion-view view-title="Chats" >
    <ion-header-bar class="bar-subheader button-bar">
        <button class="button button-clear button-balanced icon ion-ios-plus-outline" ng-click="newChat()"> create test</button>
    </ion-header-bar>
  <ion-content class="has-subheader">

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" ng-href="#/tab/chats/{{chat.$id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.title}}</h2>
        <p>{{chat.lastMessage}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
